@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap');


*{



font-family:"Poppins",sans-serif;

}





.contact-hero{


height:400px;

display:flex;

justify-content:center;

align-items:center;

text-align:center;


background:

linear-gradient(
90deg,
hsla(280,95%,57%,1),
hsla(193,90%,55%,1)
);


color:white;


}



.contact-hero p{

font-size:25px;

}



.contact-hero h1{

font-family:"Pacifico",cursive;

font-size:70px;

}



.contact-hero span{

font-size:18px;

}







.contact-info{


padding:70px 8%;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;


}



.info-card{


text-align:center;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

border-bottom:4px solid #a52af7;


}



.info-card i{


font-size:35px;

color:#a52af7;


}



.info-card h3{

margin:15px 0;

}





.info-card p{

color:#666;

}








.contact-form-section{


padding:40px 10%;


}



.form-container{


max-width:900px;

margin:auto;

}



.form-title{

text-align:center;

margin-bottom:40px;

}



.form-title p{


font-family:"Pacifico",cursive;

font-size:35px;

color:#a52af7;


}



.form-title h1{

font-size:40px;

}





form{


display:flex;

flex-direction:column;

gap:20px;


}



.input-group{


display:flex;

gap:20px;


}



input,
textarea{


padding:15px;

border:1px solid #ddd;

border-radius:12px;

font-size:15px;

width:100%;


}




button{


padding:15px;

border:none;

border-radius:30px;


background:

linear-gradient(
90deg,
hsla(280,95%,57%,1),
hsla(193,90%,55%,1)
);


color:white;

font-size:16px;

cursor:pointer;


}







.social-section{


text-align:center;

padding:50px;


}



.social-icons{


display:flex;

justify-content:center;

gap:30px;

margin-top:20px;


}



.social-icons a{


font-size:30px;

color:#a52af7;


}







@media(max-width:900px){


.contact-info{

grid-template-columns:repeat(2,1fr);

}


.input-group{

flex-direction:column;

}


}



@media(max-width:500px){


.contact-info{

grid-template-columns:1fr;

}



.contact-hero h1{

font-size:45px;

}


}