@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap');



.navbar{

    height:80px;

    padding:0 7%;

    display:flex;

    align-items:center;

    justify-content:space-between;

    background:white;

    box-shadow:0 5px 20px rgba(0,0,0,0.08);

}



/* Logo */

.logo a{

    text-decoration:none;

    font-family:"Pacifico", cursive;

    font-size:38px;

    color:#9b2cff;

    letter-spacing:1px;

}



/* Middle Links */


.nav-links{

    display:flex;

    gap:40px;

    list-style:none;

}



.nav-links a{

    text-decoration:none;

    color:#333;

    font-family:"Poppins",sans-serif;

    font-size:16px;

    font-weight:500;

    transition:.3s;

}



.nav-links a:hover{

    color:#a12af7;

}



/* Right Icons */


.nav-icons{

    display:flex;

    gap:25px;

}



.nav-icons a{

    color:#333;

    font-size:20px;

    transition:.3s;

}



.nav-icons a:hover{

    color:#a12af7;

    transform:translateY(-3px);

}

.fa-right-from-bracket{
    color: rgb(243, 64, 64);
}

/* Desktop Menu */

.nav-menu{

    display:flex;

    align-items:center;

    gap:50px;

}

/* Hamburger */

.menu-toggle{

    display:none;

    font-size:28px;

    cursor:pointer;

}



.close-menu{

    display:none;

}



/* Mobile */

@media(max-width:768px){


    .menu-toggle{

        display:block;

    }



    .nav-menu{


        position:fixed;

        top:0;

        right:-100%;

        width:75%;

        height:100vh;


        background:white;


        display:flex;

        flex-direction:column;

        align-items:center;

        padding-top:40px;


        transition:0.4s;


        box-shadow:-5px 0 20px rgba(0,0,0,0.2);


    }



    .nav-menu.active{

        right:0;

    }



    .close-menu{

        display:block;

        position:absolute;

        top:20px;

        right:25px;

        font-size:28px;

        cursor:pointer;

    }



    .nav-links{

        flex-direction:column;

        text-align:center;

        margin-top:50px;

        gap:25px;

    }



    .nav-icons{

        flex-direction:column;

        margin-top:30px;

        gap:25px;

    }



}

.hamburger{
    display:none;
}

@media(max-width:768px){

    .hamburger{

        display:block;
        font-size:28px;
        cursor:pointer;

    }

}

.hamburger{

    display:none;
    font-size:28px;
    cursor:pointer;
    z-index:2000;

}
